<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>Washington Post - ::projectName::</title>
    <link rel="stylesheet" href="/css/::projectName::.css">
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <style>
    [ng-cloak] {
        display: none;
    }
    </style>
    <script data-main="js/main.js" src="js/vendor/requirejs/require.js"></script>
</head>

<body>
    <div ng-view></div>
</body>
